.footer {
  transform: scale(0.8);
  padding-bottom: 80px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer .head2 {
  font-size: 13px;
  color: #ccc;
}
.footer .head3 {
  font-size: 14px;
  margin-top: -10px;
  color: #ccc;
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
  text-underline-offset: 3px;
}
.footer a {
  text-decoration: none;
  color: #ccc;
}
